{% extends "navAlumno.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">Ver materias</h1>

<div class="text-center container">
    <h3 class="text-center mt-3">Carrera</h3>
    <select name="" id="carrera" >
        {% for carrera in carreras %}
        <option value={{carrera.carrera_id}}>{{carrera.carrera__nombre}}</option>
        {% endfor %}
    </select>
</div>

<div class="container mt-4"> <!-- Opcional: Si deseas agregar margen lateral -->
    <div class="row">
        <div class="col-12 mx-auto">
            <input type="text" id="busqueda" class="form-control border-dark" placeholder="Escribe para buscar...">
            <pre id="pre" class="mt-4 mb-2"></pre>
            <div id="opciones" class="options-list border border-dark bg-white overflow-auto max-height-160 mb-3 white-space: nowrap; overflow-x: auto;">
              <!-- Las opciones se agregarán dinámicamente con JavaScript -->
            </div>
        </div>
    </div>
  </div>

<script src={% static "verMaterias.js" %}></script>
{% endblock %}